*.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color:#edeeee;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 12px;
}

.img  {
    text-align: center; /* Centra el contenido horizontalmente */
}

.fotografia {
    margin: auto; /* Centra la imagen horizontalmente utilizando margen automático */
  }
  