body{
    margin: 0;
}

.perfil{
    border: 1px solid black;
    background-color: blueviolet;
}

.trabajos{
    border: 1px solid black;
    background-color: hotpink;
    margin-top: 50px;
    padding left: 30px;
}
#foto{
    height: 100px;
}